<div class="add-form">
  <app-navbar></app-navbar>

<!-- <div *ngIf="postSuccess; else elseBlock" ></div>
<ng-template #elseBlock>Content to render when condition is false.</ng-template> -->

  <h1>Add Employee Data</h1>
  <div class="frm-main">
    
    <div class="frmm">
        <form #myForm="ngForm" (ngSubmit)="submitEmployee()">
            <div class="frm-inp">
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.firstName" placeholder="First Name"
                    aria-label="Input" name="fname" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.lastName" placeholder="Last Name"
                    aria-label="Input" name="lname" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.phone" placeholder="Phone"
                    aria-label="Input" name="phone" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.email" placeholder="Email"
                    aria-label="Input" name="email" />
                <input class="uk-input uk-form-width-large" type="number" [(ngModel)]="emp.salary" placeholder="Salary"
                    aria-label="Input" name="salary" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.location" placeholder="Location"
                    aria-label="Input" name="location" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.department" placeholder="Department"
                    aria-label="Input" name="department" />
                <input class="uk-input uk-form-width-large" type="text" [(ngModel)]="emp.password" placeholder="Password"
                    aria-label="Input" name="password" />
            </div>
            <div class="frm-butt">
                <button type="submit" class="sbutton uk-button uk-button-default uk-button-large">
                    SUBMIT EMPLOYEE
                </button>
            </div>
        </form>
    </div>
  </div>

</div>
