<div class="employee-table uk-container uk-margin-top">
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-large uk-table-striped uk-table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Department</th>
          <th>Location</th>
          <th>Salary</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="showAllButtonClicked; else elseBlock">

        <tr *ngFor="let dd of getEmployeeValue">
          <td>{{ dd.firstName+" "+dd.lastName }}</td>
          <td>{{ dd.phone}}</td>
          <td>{{ dd.email}}</td>
          <td>{{ dd.department }}</td>
          <td>{{ dd.location }}</td>
          <td>{{ dd.salary }}</td>
          <td>
            <button class="uk-button uk-button-primary uk-button-small">
              <span class="uk-icon icn" uk-icon="icon: file-edit"></span>
            </button>
            <button
              class="uk-button uk-button-danger uk-button-small uk-margin-left"
            >
              <span class="uk-icon icn" uk-icon="icon: trash"></span>
            </button>
          </td>
        </tr>

                
      </tbody>
      <ng-template #elseBlock>Nothing to show here</ng-template>
    </table>
    <!-- <h1>{{ showAllButtonClicked }}</h1> -->
  </div>
</div>
