.hm {
  display: flex;
  background-color: #1e87f0;
  height: 89.8vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: white;
}

.sbutton {
  background-color: coral;
  color: white;
  font-size: large;
  border: none;
  margin-top: 1.5rem;
  transition-duration: 0.4s;
}

.sbutton:hover {
  background-color: rgb(255, 181, 83);
  color: white;
}

h1 {
  color: white;
  font-weight: 400;
  letter-spacing: 3pt;
}

h1 span{
  font-weight: 700;
    font-size: 3.5rem;
    color: rgb(255, 145, 106);
}

@keyframes example {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
  }
}

img {
  animation: example 4s infinite;
  width: 35rem;
  height: auto;
}
