<div class="uk-section-primary uk-preserve-color">
  <div
    uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light"
  >
    <nav class="uk-navbar-container uk-padding-left" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-margin-left uk-logo" (click)="IconHandler()" aria-label="Back to Home"
          >EMS - <span>{{ eml }}</span></a
        >
      </div>
      <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="/Add">
              <span class="uk-icon uk-margin-small-right" uk-icon="icon: plus-circle"></span>
              Add Employee
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: user"
              ></span>
              My Profile
            </a>
          </li> -->
          <li>
            <a (click)="LogOut()">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: sign-out"
              ></span>
              Logout
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</div>
