<div class="uk-section-primary uk-preserve-color">
  <div
    uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light"
  >
    <nav class="uk-navbar-container uk-margin-left" uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#" aria-label="Back to Home"
          >EMS</a
        >
      </div>
      <div class="uk-navbar-right uk-margin-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: user"
              ></span>
              My Profile
            </a>
          </li>
          <li>
            <a href="#">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: sign-out"
              ></span>
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
