<div class="sn-main">
    <div class="sn-box uk-container-xsmall">
        <img src="../../../assets/hire.svg" alt="" srcset="">
        <h1>Log-in</h1>
        <input [(ngModel)]="email" class="uk-input uk-form-width-large" type="text" placeholder="Email" aria-label="Input" name="email" />
        <input [(ngModel)]="pass" class="uk-input uk-form-width-large" type="password" placeholder="Password" aria-label="Input"
            name="password" />
        <button (click)="loginHandler()" type="submit" class="sbutton uk-button uk-button-default uk-button-large">
            LOGIN
        </button>
    </div>
</div>