<div class="uk-card">
    <div class="uk-card-header dk">
        <div class="uk-width-auto">
            <img class="uk-border-circle" width="70" height="70"
                src="https://cdn.pixabay.com/photo/2020/08/21/08/46/african-5505598_960_720.jpg" alt="Avatar" />
        </div>
        <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">{{fname+" "+lname}}</h3>
            <!-- <h3 class="uk-card-title uk-margin-remove-bottom">Name</h3> -->
            <p class="uk-text-meta uk-margin-remove-top">
                {{department}}
            </p>
            
        </div>
    </div>
    
    <div class="uk-card-body">
        <!-- <p>{{phone}}</p>
        <p>{{email}}</p>
        <p>{{location}}</p> -->
        <div class="pill">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: phone"></span>
            <p>{{phone}}</p>
        </div>
        <div class="pill">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: mail"></span>
            <p>{{email}}</p>
        </div>
        <div class="pill">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: location"></span>
            <p>{{location}}</p>
        </div>

    </div>
    <button class="uk-margin-large-left uk-button uk-button-default uk-button-primary uk-modal-close" type="button">
        Done
    </button>

</div>