.lg{
    color: white;
    font-size: xx-large;
    font-weight: 200;
}

button{
    background-color: coral;
    color: white;
    font-size: large;
    border: none;
    margin-top: 1.5rem;
    transition-duration: 0.4s;
}

button:hover{
    background-color: rgb(255, 181, 83);
    color: white;
}

.all{
    background-color: rgb(23, 192, 102);
}

.all:hover{
    background-color: rgb(0, 176, 82);
}

.form-section{
    padding: 3rem;
}