<div class="form-section uk-section-primary uk-preserve-color">
    <div class="uk-container">
        <form>
            <fieldset class="uk-fieldset">
                <legend class="uk-legend lg">ENTER  EMPLOYEE  UUID</legend>
    
                <div class="uk-margin">
                    <input class="uk-input uk-form-large" type="text" placeholder="Input" aria-label="Input" />
                </div>
            </fieldset>
            <button class="uk-button uk-button-default uk-button-large">Large button</button>
        </form>
    </div>

</div>