.lg{
    color: white;
    font-size: xx-large;
    font-weight: 200;
}


.sbutton{
    background-color: coral;
    color: white;
    font-size: large;
    border: none;
    margin-top: 1.5rem;
    transition-duration: 0.4s;
}

.sbutton:hover{
    background-color: rgb(255, 181, 83);
    color: white;
}

.all-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
}

.show-all{
    font-size: 1.2rem;
    font-weight: 200;
}

.all{
    color: white;
    outline: none;
    border: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.1ms;
}

.all:hover{
    color: rgba(255, 255, 255, 0.594);
}


.form-section{
    padding: 3rem;
}